@font-face {
  font-family: "Arial";
  src: url("ArialMT.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark: #08020d;
  --color-dark-alt: #3c3b3d;
  --color-light: #e0e0e0;
  --color-gray: #cacaca;
  --color-green: #34c176;
  --color-orange: #f89202;
  --color-purple: #5328a1;
  --color-brown: #95390c;
  --border-radius-button: 5px;
  --font-family-base: "Roboto", sans-serif;
}

.visually-hiden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 0;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  position: relative;
  font-family: var(--font-family-base);
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-gray);
  background-color: var(--color-dark);
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
}

.container {
  max-width: 1240px;
  padding-inline: 20px;
  margin: 0 auto;
}

.section__title {
  padding-top: 100px;
  margin-bottom: 48px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
  .container {
    width: 100%;
    max-width: unset;
  }
}
.header {
  position: absolute;
  top: 25px;
  font-size: 11px;
  text-transform: uppercase;
  width: 100%;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 88px;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
}
.header__menu {
  margin-right: auto;
}
.header__menu_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.header__form_input {
  width: 248px;
  height: 25px;
  padding: 5px 10px;
  border-radius: 50px;
  border: none;
  background-color: var(--color-dark-alt);
}
.header__form_input::placeholder {
  font-family: "Arial", sans-serif;
  font-size: 13.3px;
  line-height: 15px;
  text-transform: uppercase;
  color: #757575;
}
.header__form_input:hover {
  background-color: white;
}
.header__form_input:focus {
  background-color: white;
}

@media (max-width: 1023px) {
  .header__inner {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 18px;
  }
  .header__menu {
    margin-right: 0;
  }
  .header__form {
    width: 100%;
  }
  .header__form_input {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .header__inner {
    row-gap: 0;
  }
  .header__logo {
    font-weight: bold;
    margin-bottom: 17px;
    align-items: flex-start;
  }
  .header__logo span {
    line-height: 13px;
    padding-top: 5px;
  }
  .header__menu {
    margin-bottom: 21px;
  }
  .header__menu_list {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 3px;
    line-height: 13px;
    font-weight: bold;
  }
}
.form {
  max-width: 570px;
  margin-inline: auto;
}
.form__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 1.65rem;
}
.form__input {
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  border: 2px solid var(--color-light);
  border-radius: 3px;
  background: none;
}
.form__input::placeholder {
  color: white;
  font-family: var(--font-family-base);
  font-size: 14px;
  font-weight: bold;
}
.form__input:hover {
  border-color: var(--color-green);
}
.form__input:focus {
  background-color: white;
}
.form__button {
  height: 57px;
  padding: 20px 30px;
}

@media (max-width: 767px) {
  .form {
    width: 100%;
    max-width: unset;
  }
  .form__body {
    flex-direction: column;
    row-gap: 24px;
    margin-bottom: 26px;
  }
  .form__input {
    width: 100%;
  }
}
.button {
  width: 100%;
  border: 1px solid white;
  border-radius: var(--border-radius-button);
  color: white;
  background: none;
  text-transform: uppercase;
  font-size: 13.3px;
  font-family: "Arial", sans-serif;
}
.button_green {
  border: none;
  background-color: var(--color-green);
}
.button_green:hover {
  opacity: 0.8;
}

.hero {
  background-image: url("./.././images/banner.png");
  background-position: center;
  background-size: cover;
  padding-block: 200px;
  text-align: center;
  color: white;
}
.hero__subtitle {
  margin-bottom: 31px;
}
.hero__description {
  margin-bottom: 17px;
}

@media (max-width: 767px) {
  .hero {
    padding-block: 248px 201px;
  }
  .hero__subtitle {
    margin-bottom: 16px;
  }
  .hero__description {
    margin-bottom: 16px;
  }
}
.subscription {
  text-align: center;
  color: white;
}
.subscription__body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 40px;
}
.subscription__item {
  width: calc((100% - 100px) / 3);
  padding: 24px 1.5rem 64px;
  border-radius: 1rem;
  background-position: center;
  background-size: cover;
}
.subscription__item_free {
  background-image: url("./.././images/subscribe_1.png");
}
.subscription__item_standart {
  background-image: url("./.././images/subscribe_2.png");
}
.subscription__item_premium {
  background-image: url("./.././images/subscribe_3.png");
}
.subscription__title {
  margin-bottom: 200px;
  font-size: 24px;
  text-transform: uppercase;
}
.subscription__price {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-self: flex-start;
  gap: 16px;
}
.subscription__price_value {
  font-size: 64px;
  line-height: 1;
}
.subscription__price_currency {
  font-size: 32px;
}
.subscription__button {
  display: block;
  margin-bottom: 64px;
  width: 100%;
  height: 66px;
  padding-block: 21px;
}
.subscription__footer {
  height: 57px;
  font-size: 12.8px;
}

@media (max-width: 1023px) {
  .subscription__body {
    gap: 24px;
  }
  .subscription__item {
    width: calc((100% - 48px) / 3);
    padding-top: 16px;
  }
  .subscription__title {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .subscription__body {
    flex-direction: column;
    gap: 50px;
  }
  .subscription__item {
    width: 100%;
  }
  .subscription__item_free .subscription__title {
    margin-bottom: 203px;
  }
}/*# sourceMappingURL=app.css.map */