:root {
  --color-dark: #08020d;
  --color-dark-alt: #3c3b3d;
  --color-light: #e0e0e0;
  --color-gray: #cacaca;
  --color-green: #34c176;
  --color-orange: #f89202;
  --color-purple: #5328a1;
  --color-brown: #95390c;

  --border-radius-button: 5px;

  --font-family-base: "Roboto", sans-serif;
}
